.page{
	page-break-after: always;
}

.flex {
	display: flex;	width: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.space-evenly {
	justify-content: space-evenly;
}

.space-between {
	justify-content: space-between; 
}

.width20 {
	width: 20%;
}

.width25 {
	width: 25%;
}

.width30 {
	width: 30%;
}

.width40 {
	width: 40%;
}

.width45 {
	width: 45%;
}

.width50 {
	width: 50%;
}

.width55 {
	width: 55%;
}

.width60 {
	width: 60%;
}

.width70 {
	width: 70%;
}

.width75 {
	width: 75%;
}

.width80 {
	width: 80%;
}

.width98 {
	width: 98%;
}

.height100px {
	height: 100.0px;
}

.justify-start {
	justify-content: flex-start;
	display: flex;
	flex: 1;
	width: 20%;
}

.justify-center {
	justify-content: center;
	display: flex;
	flex: 1;
	text-align: center;
	width: 60%;
}

.justify-end {
	justify-content: flex-end;
	display: flex;
	flex: 1;
	width: 15%;
}

.border-frame35 {
	display: flex;
	width: 35%;
	border: 1.0px solid black;
}

.border-frame40 {
	display: flex;
	width: 40%;
	border: 1.0px solid black;
}

.border-frame60 {
	display: flex;
	width: 60%;
	border: 1.0px solid black;
}

.border-frame97 {
	height: 100.0px;
	width: 97.8%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.frame60 {
	display: flex;
	width: 60%;
}

.frame-border60 {
	justify-content: flex-start;
	border: 1.0px solid black;
	width: 80%;
	height: 60.0px;
}

.company-head {
	font-family: Times New Roman;
	margin-left: 5px;
	color: #3c5564;
}

.title-bill {
	font-family: Times New Roman;
	text-align: center;
	color: #3c5564;
	align-self: flex-end;
}

.customer-title {
	font-family: Times New Roman;
	font-size: 18.5px;
	margin-left: 5px;
	color: #3c5564;
	font-weight: lighter;
}

.label-text18 {
	font-family: Times New Roman;
	font-size: 18.0px;
	padding-left: 5.0px;
	color: #3c5564;
}

.label-text16 {
	font-family: Times New Roman;
	margin-left: 5.0px;
	font-size: 16.0px;
	color: #3c5564;
}

.label-text15 {
	font-family: Times New Roman;
	margin-left: 5.0px;
	font-size: 15.0px;
	color: #3c5564;
}

.label-text15-black {
	font-family: Times New Roman;
	margin-left: 5.0px;
	font-size: 15.0px;
}

.label-text14 {
	font-family: Times New Roman;
	margin-left: 5.0px;
	font-size: 14.0px;
	color: #3c5564;
}

.label-text14I {
	font-family: Times New Roman;
	margin-top: 2.0px;
	margin-left: 5.0px;
	font-size: 14.0px;
	color: #3c5564;
}

.label-text13 {
	font-family: Times New Roman;
	font-size: 13.0px;
	color: #3c5564;
}

.label-text13I {
	font-family: Times New Roman;
	margin-left: 5.0px;
	font-size: 13.0px;
	color: #3c5564;
}

.label-text11 {
	font-family: Times New Roman;
	font-size: 11.0px;
	color: #3c5564;
}

.span-underline {
	font-size: 15.0px;
	padding-left: 5.0px;
	text-decoration: underline;
}

.div-center {
	text-align: center;
}

.remark {
	padding-left: 2%;
	font-family: Times New Roman;
	font-size: 12.0px;
	color: #3c5564;
}

.table {
	/*height: 350.0px;*/
	width: 98%;
	border: 1.0px solid black;
	border-collapse: collapse;
	font-family: Times New Roman;
	/*table-layout: fixed;*/
}

.table-tr {
	height: 30.0px;
	vertical-align: bottom;
}

.tr-height {
	height: 18.0px;
}

.tr-height25 {
	height: 25.0px;
}

.td-label-width3 {
	width: 3%;
	border: 1.0px solid black;
	text-align: center;
	font-size: 13.0px;
	color: #3c5564;
}

.td-label-width10 {
	width: 10%;
	border: 1.0px solid black;
	text-align: center;
	font-size: 13.0px;
	color: #3c5564;
}

.td-label-width15 {
	width: 15%;
	border: 1.0px solid black;
	text-align: center;
	font-size: 13.0px;
	color: #3c5564;
}

.td-label-width20 {
	width: 20%;
	border: 1.0px solid black;
	text-align: center;
	font-size: 13.0px;
	color: #3c5564;
}

.td-label-width25 {
	width: 25%;
	border: 1.0px solid black;
	text-align: center;
	font-size: 13.0px;
	color: #3c5564;
}

.td-label-width30 {
	width: 30%;
	border: 1.0px solid black;
	font-family: Times New Roman;
	text-align: center;
	font-size: 13.0px;
	color: #3c5564;
}

.td-label-width40 {
	width: 40%;
	border: 1.0px solid black;
	text-align: center;
	font-size: 13.0px;
	color: #3c5564;
}

.td-label-width50 {
	width: 50%;
	border: 1.0px solid black;
	text-align: center;
	font-size: 13.0px;
	color: #3c5564;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
	padding-left: 1%;
}

.text-right {
	text-align: right;
}

.td-text-center {
	border-left: 1.0px solid black;
	font-size: 13.0px;
	text-align: center;
	color: #3c5564;
}

.td-text-center {
	border-left: 1.0px solid black;
	font-size: 13.0px;
	text-align: center;
	color: #3c5564;
}

.td-text-left {
	border-left: 1.0px solid black;
	font-size: 13.0px;
	text-align: left;
	color: #3c5564;
	padding-left: 5.0px;
}

.td-text-right {
	border-left: 1.0px solid black;
	font-size: 13.0px;
	text-align: right;
	color: #3c5564;
}

.td-boder-left {
	border-left: 1.0px solid black;
	font-family: Times New Roman;
	font-size: 13.0px;
	text-align: right;
	color: #3c5564;
}

.td-boder-button {
	border-bottom: 1.0px solid black;
	font-family: Times New Roman;
	font-size: 13.0px;
	color: #3c5564;
}

.padding-left15 {
	padding-left: 15%;
}

.border-left {
	border-left: 1.0px solid black;
}

.td-border {
	border-left: 1.0px solid black;
}

.container {
  display: flex;
  flex: 1;
}

hr {
	flex-grow: 1;
	/* width: 100%; */ /* or this */
}

p {
	margin-top: 0.10em;
	margin-bottom: 0em;
}

tfoot {
	border: 1.0px solid black;
}

td {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ellipsis20 {
	width: 20%;
	height: 40.0px;
/*	height: 2.5em;*/
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}