@media print{ @page {size: landscape }}

.page{
	page-break-after: always;
}

.flex {
	display: flex;	width: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.space-evenly {
	justify-content: space-evenly;
}

.space-between {
	justify-content: space-between; 
}

.width5 {
	width: 5%;
}

.width15 {
	width: 15%;
}

.width20 {
	width: 20%;
}

.width25 {
	width: 25%;
}

.width30 {
	width: 30%;
}

.width40 {
	width: 40%;
}

.width50 {
	width: 50%;
}

.width60 {
	width: 60%;
}

.width60 {
	width: 75%;
}

.width70 {
	width: 70%;
}

.width80 {
	width: 80%;
}

.width98 {
	width: 98%;
}

.frame60 {
	display: flex;
	width: 60%;
}

.company-head {
	font-family: Times New Roman;
	margin-left: 5px;
	color: #3c5564;
}

.title-bill {
	font-family: Times New Roman;
	text-align: left;
	color: #3c5564;
}

.label-text {
	font-family: Times New Roman;
	margin-left: 5px;
	margin-bottom: 3px;
	color: #3c5564;
}

.label-text18 {
	font-family: Times New Roman;
	font-size: 18px;
	padding-left: 5px;
	color: #3c5564;
}

.label-text16 {
	font-family: Times New Roman;
	margin-left: 5px;
	font-size: 16px;
	color: #3c5564;
}

.label-text15 {
	font-family: Times New Roman;
	margin-left: 5px;
	font-size: 15px;
	color: #3c5564;
}

.label-text14 {
	font-family: Times New Roman;
	margin-left: 5px;
	font-size: 14px;
	color: #3c5564;
}

.label-text14-I {
	font-family: Times New Roman;
	font-size: 14px;
	color: #3c5564;
}

.label-text13 {
	font-family: Times New Roman;
	font-size: 13px;
	color: #3c5564;
}

.label-text11 {
	font-family: Times New Roman;
	font-size: 11px;
	color: #3c5564;
}

.text-right {
	font-size: 13px;
	text-align: right;
	color: #3c5564;	
}

.span-underline {
	font-size: 15px;
	padding-left: 5px;
	text-decoration: underline;
}

.div-center {
	text-align: center;
}

.remark {
	padding-left: 2%;
	font-family: Times New Roman;
	font-size: 11px;
	color: #3c5564;
}

.table {
	/*height: 350px;*/
	width: 98%;
	/* border: 1px solid black; */
	/* border-collapse: collapse; */
	font-family: Times New Roman;
}

.table-tr {
	height: 30px;
	vertical-align: bottom;
}

.tr-height {
	height: 20px;
}

.td-label-width10 {
	width: 10%;
	/* border: 1px solid black; */
	text-align: right;
	font-size: 13px;
	color: #3c5564;
}

.td-label-width15 {
	width: 15%;
	/* border: 1px solid black; */
	text-align: right;
	font-size: 13px;
	color: #3c5564;
}

.td-label-width20 {
	width: 20%;
	/* border: 1px solid black; */
	text-align: left;
	font-size: 13px;
	color: #3c5564;
}

.td-label-width30 {
	width: 30%;
	/* border: 1px solid black; */
	text-align: right;
	font-size: 13px;
	color: #3c5564;
}

.td-text-center {
	/* border-left: 1px solid black; */
	font-size: 13px;
	text-align: center;
	color: #3c5564;
}

.td-text-left {
	/* border-left: 1px solid black; */
	font-size: 13px;
	text-align: left;
	color: #3c5564;
	padding-left: 5px;
}

.td-text-right {
	/* border-left: 1px solid black; */
	font-size: 13px;
	text-align: right;
	color: #3c5564;
}

.td-boder-left {
	/* border-left: 1px solid black; */
	font-family: Times New Roman;
	font-size: 13px;
	text-align: right;
	color: #3c5564;
}



.container {
  display: flex;
  flex: 1;
}

hr {
	flex-grow: 1;
	/* width: 100%; */ /* or this */
}

p {
	margin-top: 0.6em;
	margin-bottom: 0em;
}

.border-head-top {
	border-top: 1px solid black;
}

.border-head-bottom {
	border-bottom: 1px solid black;
}