.selected {
  background-color: skyblue !important;
  border: 1.0px solid skyblue !important;
}

#selected-row td {
  background-color: skyblue !important;
  border: 1.0px solid skyblue !important;
}

table {
  border-collapse: collapse;
}

#tableProduct tr:nth-child(even) {
  /*class="bg-stone-100";*/
  background: #f5f5f4;
}

#tableProduct tr:nth-child(odd) {
  /*class="bg-white";*/
  background: white;
}

#tableProduct tr:hover td {
  background-color: #add8e6;
  border: 1.0px solid #add8e6;
}

#tableScrap tr:nth-child(even) {
  /*class="bg-stone-100";*/
  background: #f5f5f4;
}

#tableScrap tr:nth-child(odd) {
  /*class="bg-white";*/
  background: white;
}

#tableScrap tr:hover td {
  background-color: #add8e6;
  border: 1.0px solid #add8e6;
}

#tablePrice tr:nth-child(even) {
  /*class="bg-stone-100";*/
  background: #f5f5f4;
}

#tablePrice tr:nth-child(odd) {
  /*class="bg-white";*/
  background: white;
}

#tablePrice tr:hover td {
  background-color: #add8e6;
  border: 1.0px solid #add8e6;
}