
#selected-row td {
    background-color: skyblue !important;
    border: 1.0px solid skyblue !important;
  }
  
  table {
    border-collapse: collapse;
  }
  
  thead {
    position: -webkit-sticky;  /* for Safari */
    position: sticky;
    z-index: 1;
    top: 0;
  }
  
  #table tr:nth-child(even) {
    /*class="bg-stone-100";*/
    background: #f5f5f4;
    /*class="bg-orange-50";*/
    /*background: #fff7ed;*/
  }
  
  #table tr:nth-child(odd) {
    /*class="bg-white";*/
    background: white;
  }
  
  #table tr:hover td {
    background-color: #add8e6;
    border: 1.0px solid #add8e6;
  }